<div class="content">
  <div class="group-permission">
    <h2 class="title">Nhóm quyền truy cập</h2>
    <ul class="permission">
      <li class="per-item" *ngFor="let item of listRole" [class.active]="item.id===indexPermission"
          (click)="handleClick(item.id)"
      >
        {{item.name}}
      </li>
    </ul>
  </div>
  <div class="list-claim">
    <div class="head">
    <div class="group-btn">
      <button mat-raised-button color="primary" class="add-per" (click)="openDialog()">Thêm nhóm quyền</button>
      <button mat-raised-button color="warn" class="delete-per" (click)="handleDelete()">Xóa nhóm quyền</button>
    </div>
      <div class="save" >
        <i class="fa-solid fa-floppy-disk save-icon" (click)="handleSave()"></i>
        <span class="save-title">Lưu</span>
      </div>
    </div>
    <mat-expansion-panel class="group-claim" (opened)="isOpen" *ngFor="let claim of listClaim">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{claim.displayName}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="claim" *ngFor="let p of claim.permissions">
        <h2 class="claim-title">{{p.displayName}}</h2>
        <mat-checkbox [value]="p.name" (change)="handleChange($event)" [checked]="isCheckbox(p.name)"></mat-checkbox>
      </div>
    </mat-expansion-panel>


  </div>
</div>
