<div class="content">
  <h1 class="title">Quản lí bài học</h1>
  <div class="head-content">
    <input type="text" class="search" placeholder="Search">
    <button class="btn" (click)="handleAdd()" >Thêm bài học</button>
  </div>
  <table>
    <thead>
    <tr class="table-heading">
      <th>Tên bài học</th>
      <th width="160">Trạng thái</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let lesson of listLesson">
      <td>{{lesson.title}}</td>
      <td>
        <button mat-raised-button color="accent" class="edit" (click)="handleEdit(lesson)">Sửa</button>
        <button mat-raised-button color="warn" (click)="handleDelete(lesson.id)">Xóa</button>
      </td>

    </tr>
    </tbody>
  </table>
</div>
