<mat-dialog-content>
  <form class="form" [formGroup]="dataForm">
    <div class="form-group">
      <h1 class="form-label">Tên khóa học</h1>
      <input type="text" formControlName="title" name="" class="form-input">
    </div>
    <div class="form-group">
      <h1 class="form-label">Mô tả</h1>
      <input type="text" formControlName="description" name="" class="form-input">
    </div>
    <div class="form-group">
      <h1 class="form-label">Thêm ảnh</h1>
      <input type="text" formControlName="imageUrl" name="" class="form-input">
    </div>
    <h1 class="title-course">Danh sách các khóa học</h1>
    <div *ngFor="let cb of listCombinedCourse ; let i=index" class="checkbox-group">
      {{ cb.title}}
      <input type="checkbox"  class="checkbox" formArrayName="combinedCoursesId" [value]="cb.id" [checked]="isCheckbox(cb.id)" (change)="onCheckboxChange($event)"
      />
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close color="warn" >Hủy</button>
  <button mat-raised-button color="primary" (click)="handleSubmit()">{{title}}</button>
</mat-dialog-actions>

