.content {
  .title {
    @apply text-4xl font-bold text-blue-700 mt-4 mb-8;
  }
  .head-content {
    @apply flex justify-between my-4;
   .group-search{
     @apply w-3/5;
     .search {
       @apply border rounded px-3 py-2 w-4/5
     }
     .btn-search {
       @apply bg-blue-500 py-2 px-3 rounded ml-2 text-white;
     }
   }
    .btn {
      @apply border bg-blue-600 rounded py-2 px-3 text-white;
    }
  }
  table {
    width: 100%;
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    .table-heading {
      @apply bg-gray-300
    }
    .edit {
      @apply mr-3
    }
  }
  .pagination {
    @apply flex mt-6;
    .page-item {
      @apply py-2 px-4  m-1  cursor-pointer;
      &:hover {
        @apply bg-blue-500;
      }
    }
  }
}
