<mat-sidenav-container class="main-layout">
<mat-sidenav #sidenav mode="side" [opened]="isOpen" class="sidenav">
  <div class="wrap-sidenav">
    <h1 class="sidenav-title">Hệ thống Quản lí</h1>
    <ul class="menu">
      <li class="menu-item" routerLink="/user-management" routerLinkActive="active" >Quản lí người dùng</li>
      <li class="menu-item" routerLink="/course-management" routerLinkActive="active" >Quản lí khóa học</li>
      <li class="menu-item" routerLink="/role" routerLinkActive="active" >Phân quyền</li>
    </ul>
  </div>
</mat-sidenav>

<mat-sidenav-content>
  <mat-toolbar>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="spacer"></span>
    <ng-container>
      <div class="group-avatar" (click)="handleClick()">
        <img src="./assets/img/img.png" alt="" class="avatar">
        <h2 class="title">{{user.fullName}}</h2>
        <ul class="func" *ngIf="isFuncAvatar">
          <li class="item-func" (click)="handleLogout()">Đăng xuất</li>
        </ul>
      </div>
    </ng-container>
  </mat-toolbar>
  <div class="wrap-content">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-content>
</mat-sidenav-container>


